/* Master Styles  */

@font-face {
    font-family: 'montserratregular';
    src: url('Fonts/montserrat-regular-webfont.woff2') format('woff2'), url('Fonts/montserrat-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'montserratbold';
    src: url('Fonts/montserrat-bold-webfont.woff2') format('woff2'), url('Fonts/montserrat-bold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'montserratlight';
    src: url('Fonts/montserrat-light-webfont.woff2') format('woff2'), url('Fonts/montserrat-light-webfont.woff') format('woff');
    font-weight: 50;
    font-style: normal;
}

@font-face {
    font-family: 'montserratextralight';
    src: url('Fonts/montserrat-extralight-webfont.woff2') format('woff2'), url('Fonts/montserrat-extralight-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'montserratthin';
    src: url('montserrat-thin-webfont.woff2') format('woff2'), url('montserrat-thin-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color:#e3e6e3 ;
}

.nav-wrapper {
    overflow: hidden;
    font-family: 'montserratregular';
    display: flex;
    justify-content: space-between;
    padding: 20px;
    background-image:
    linear-gradient(
    to top right, 
      #092901, #196F04 
      /* #196F04, #092901 */
    );
    color: #FFDF00;
}

.right-side {
    display: flex;
}

.nav-wrapper>.left-side>div {
    margin-right: 20px;
    font-size: 0.94em;
    text-transform: uppercase;
    margin-top: auto;
    margin-bottom: auto;
    flex-flow: row-reverse;
    list-style: none;
    float: left;
}

.nav-wrapper>.right-side>div {
    margin-right: 20px;
    margin-top: auto;
    margin-bottom: auto;
    font-size: 0.94em;
    text-transform: uppercase;
}

.nav-link-wrapper {
    height: 22px;
    border-bottom: 2px solid transparent;
    transition: border-bottom 0.5s;
}

.nav-link-wrapper a {
    color: #FFDF00;
    text-decoration: none;
    transition: color 0.5s;
}

.nav-link-wrapper:hover {
    border-bottom: 2px solid #FFDF00;
}

.nav-link-wrapper a:hover {
    color: #FFDF00;
}

.About-Us {
    position: relative;
    top: 50;
    flex-direction: column;
    justify-content: center;
    align-self: auto;
    align-content: center;
    padding-left: 0px;
    padding-right: 0px;
    height: auto;
    width: auto;
    margin-top: 50px;
}

.about-us-text {
    font-family: 'montserratregular';
    position: relative;
    top: 50;
    display: grid;
    grid-template-columns: 1fr 1fr ;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    padding-top: 40px;
    margin-left: auto;
    margin-right: auto;
}

.about-us-text>.p1{
    padding-right: 20px;
}

.about-us-text>.p2{
    padding-left: 20px;
}

.about-us-text>.p3{
    padding-left: 20px;
}

.sponsor-slideshow {
    margin-top: 70px;
    position: relative;
    justify-content: center;
}

.subtitle {
    position: relative;
    top: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 70px;
    text-align: center;
    padding-left: 10px;
    padding-right: 10px;
    color: #000000
}

.img-text-wrapper {
    position: relative;
    top: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 250px;
    text-align: center;
    padding-left: 0px;
    padding-right: 0px;
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.box_1{
    width: 100%; 
    height: 50px;
}

.box_1>.box_text{
    position: relative;
    display: block;
    line-height: 50px;
    color: #e3e6e3;
    align-content: center;
    text-align: center;
    font-family: montserratbold;
}

.img-text-wrapper>.package{
font-family: montserratlight;
}

body {
    font-family: montserratregular;
}

.mySlides {
    display: none
}

img {
    vertical-align: middle;
}
/* Slideshow container */
.slideshow-container {
    max-width: 600px;
    max-height: 600px;
    position: relative;
    padding-top: 50px;
    margin: auto;
  }
  
  /* Caption text */
  .text {
    color: #000000;
    font-size: 15px;
    position: relative;
    width: 100%;
    text-align: center;
    padding-top: 20px;
  }
  
  /* Number text (1/3 etc) */
  .numbertext {
    color: #f2f2f2;
    font-size: 12px;
    padding: 8px 12px;
    position: absolute;
    top: 0;
    padding-top: 65px;
  }
  
  /* The dots/bullets/indicators */
  .dot {
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
  }
  
  .active {
    background-color: #717171;
  }
  
  /* Fading animation */
  .fade {
    -webkit-animation-name: fade;
    -webkit-animation-duration: 1.5s;
    animation-name: fade;
    animation-duration: 1.5s;
    transition: background-color 0.6s ease;
    ;
  }
  
  @-webkit-keyframes fade {
    from {opacity: .4} 
    to {opacity: 1}
  }
  
  @keyframes fade {
    from {opacity: .4} 
    to {opacity: 1}
  }
  
  /* On smaller screens, decrease text size */
  @media only screen and (max-width: 300px) {
    .text {font-size: 11px}
  }

.contact{
    position: relative;
    flex-direction: column;
    margin-top: 50px;
    margin-right: auto;
    margin-left: auto;
    text-align: center;
    justify-content: center;
   
}

.logos{
    margin-top: 50px;
    /* padding-right: 50px; */
    position: relative;
    flex-direction: column;
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin-bottom: 100px;
}

.logos>.insta{
    margin-left: 200px;
}

.logos>.email{
    margin-right: 200px;
}