.carousel-item {
    pointer-events: none;
}



.sliders {
    height: 100%;
}

#left-slider {
    left: 10px !important;
}

#right-slider {
    left: -10px !important;
}

.btn-sliders:hover {
    background-color: rgb(23, 177, 23) !important;
}



.staggered-list {
    position: absolute;
    top: 2rem;  
    max-width: 25rem;
    pointer-events: none;
}

.right-staggered-list {
    right: 5%;
}

.center-staggered-list {
    right: 0;
    left: 0;
    margin: auto;
    top: 1rem !important;
}

.text-wrapper {
    width: 100%;
    height: 100%;
}

.staggered-list ul li div {
    width: 100%;
    text-align: center;
}

.staggered-list ul {
    padding: 0;
    display: block;
    max-width: 100%;
}

.staggered-list li {
    display: inline-block;
    animation-duration: 350ms;
    animation-fill-mode: both;
    animation-timing-function: ease-in-out;
}

#caption-title {
    height: calc(2rem + 3px);
    --animation-order: 1;
    animation-name: animateInHeaders;
    animation-delay: calc(var(--animation-order) * 100ms - 100ms);
}

#caption-subject {
    height: calc(1.5rem + 3px);
    margin-top: 2px;
    --animation-order: 2;
    animation-name: animateInHeaders;
    animation-delay: calc(var(--animation-order) * 200ms - 100ms);
}

#caption-body {
    height: 8rem;
    max-width: 80%;
    margin-top: 5rem;
    --animation-order: 3;
    animation-name: animateInText;
    animation-delay: calc(var(--animation-order) * 350ms - 100ms);
}



@keyframes animateInHeaders {
    0% {
        opacity: 0;
        color: rgba(50, 205, 50, 0);
        transform: scale(0.6) translateY(-8px);
    }

    100% {
        opacity: 1;
        background-color: rgba(30, 189, 30, 0.9);
    }
}

@keyframes animateInText {
    0% {
        opacity: 0;
        color: rgba(50, 205, 50, 0);
        transform: scale(0.6) translateY(-8px);
    }

    100% {
        opacity: 1;
        background-color: rgba(213, 218, 213, 0.7);
    }
}