.window {
    height: 99.7vh;
}

form {
    height: 30%;
}

.message {
    width: 100%;
    height: 100%;
    padding-left: 3%;
}

#send:hover {
    background-color: skyblue !important;
}

#contact {
    font-size: 2rem;
    font-family: sans-serif;
}