.section {
    text-align: center;
    background-color: lightgoldenrodyellow;
}

.sponsors-text {
    padding-top: 1rem;
    display: block;
}

.contact-us {
    margin-top: 1rem;
    cursor: pointer;
}

.fixed-btn-wrapper {
    position: absolute;
    width: 100%;
    height: 100%;
}

.carousel-fixed-btn {
    top: 48%;
    cursor: pointer;
}

.sponsors-image {
    opacity: 0.6;
}