.section {
    text-align: center;
    background-color: palegoldenrod;
}

.sponsors-text {
    padding-top: 1rem;
    display: block;
}

.contact-us {
    margin-top: 1rem;
    cursor: pointer;
}

.sponsor-collapsible ul {
    float: left;
    width: 50%;
}

.sponsor-collapsible ul li {
    font-family: product-sans;
    font-size: 1.25rem;
}

.collapsible-body a {
    margin-top: 2%;
}

/*.collapsible-body img{
    border: 4px solid black;
}*/

.collapsible-body a:hover{
    background-color: #fff176 !important;
    
}
