.package {
    background-color: palegoldenrod;
}

.modal-footer {
    background-color: palegoldenrod !important;
    height: 30% !important;
}

.modal-close:hover {
    background-color: lightgreen;
}