.brand-logo {
    padding-left: 1% !important;
    padding-top: 0.6% !important;
    vertical-align: middle !important;
}

#logo {
    max-height: 70%;
    width: auto;
}

#name-wrapper {
    height: 100%;
    display: inline-block;
    position: relative;
    padding-bottom: 3px;
    padding-left: 5px !important;
    top: -10px;
}

.brand-name {
    font-family: marcellus;
    cursor: pointer;
}

.navbar-fixed {
    z-index: 100000000 !important;
}

.sidenav {
    z-index: 100000000 !important;
}

#contact-dropdown li:hover {
    background-color: lightgreen !important;
}

#George {
    margin-top: 11rem;
}